.widgetcard-body {
    position: relative;
    width: 37%;
    height: 74%;
    border-radius: 30px;
    /* background: rgb(113,169,136);
    background: radial-gradient(circle, rgba(113,169,136,1) -21%, rgba(72,128,79,1) 9%, rgba(108,157,114,1) 100%); */
    background: rgb(93,138,112);
    background: radial-gradient(circle, rgba(93,138,112,1) -21%, rgba(72,128,79,1) 9%, rgba(108,157,114,1) 100%);
    padding: 3% 3%;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.widgetcard-body:hover {
    transform: scale(1.05);
}

.widget-title {
    font-size: 18px;
    font-weight: 800;
    color: #CCFCCB;
}

.widget-fade {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 84%;
    height: 34%;
    border-radius: 30px;
    background: rgb(159,217,166);
    background: radial-gradient(circle, rgba(159,217,166,1) -21%, rgba(149,230,147,1) 9%, rgba(108,157,114,1) 100%);
    opacity: 0;
    transition: 0.5s ease-in-out;
    animation: none;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 8%;
}

.widgetcard-body:hover .widget-fade{
    opacity: 1;
}

/* Media query for smaller devices */
@media (max-width: 768px) {
    .widgetcard-body {
        width: 90%; /* Make it fill the container */
        height: auto; /* Adjust the height to fit content on smaller screens */
        margin-bottom: 10px; /* Optional: Add margin between cards for mobile */
    }
}