.songcard-body {
    width: 100%;
    height: 62%;
    /* background-color: #293D2B; */
    background-color: #39563C;
    border-radius: 30px;
    border-bottom-right-radius: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(87,131,92);
    background: radial-gradient(circle, rgba(87,131,92,1) 0%, rgba(53,82,56,1) 100%);
}

img {
    border-radius: 30px;
    width: 100%;
    aspect-ratio: 1;
}