circle {
    transition: all 1s ease-in-out;
    transform: rotate(93deg);
    transform-origin: 50% 50%;
}

.active-image {
    animation: rotation 30s infinite linear;
    transform: rotate(0deg);
    transform-origin: 50% 50%;
    will-change: transform;
}

.progress-circle {
    justify-content: center;
    align-items: center;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@media (max-width: 768px) {
    .progress-circle {
        width: 100%; /* Make it take up full width on mobile */
        height: auto; /* Let the height adjust automatically based on width */
        max-width: 400px; /* Optional: Limit max width to avoid overly stretched circle */
        margin: 0 auto; /* Center it horizontally */
        flex-direction: column;
        flex-grow: 1;
    }
    
    /* If you have any other specific styles for the circle or its children, adjust them here */
    circle {
        width: 100%;
        height: 100%;
    }
    
    .active-image {
        width: 100%;
        height: 100%;
    }
}