.box-container {
    justify-content: space-between;
    height: 54px;
    --boxSize: 4px; /*create your own css variable */
    --gutter: 8px;
    width: calc((var(--boxSize) + var(--gutter)) * 13);/*to use the variable */
}

.box{
    transform: scale(0.4);
    height: 100%;
    width: var(--boxSize);
    /* background: #6C9D72; */
    background: rgb(78,117,83);
    background: linear-gradient(180deg, rgba(78,117,83,1) -21%, rgba(160,250,158,1) 9%, rgba(108,157,114,1) 100%);
    border-radius: 15px;
}

.box.active {
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.box1{
    animation-name: quiet;
}
.box2{
    animation-name: normal;
}
.box3{
    animation-name: quiet;
}
.box4{
    animation-name: loud;
}
.box5{
    animation-name: quiet;
}
.box6{
    animation-name: normal;
}
.box7{
    animation-name: quiet;
}

@keyframes quiet {
    25% {
        transform: scale(0.6)
    }
    50% {
        transform: scale(0.4)
    }
    75% {
        transform: scale(0.8)
    }
}
@keyframes normal {
    25% {
        transform: scale(1)
    }
    50% {
        transform: scale(0.4)
    }
    75% {
        transform: scale(0.6)
    }
}
@keyframes loud {
    25% {
        transform: scale(1)
    }
    50% {
        transform: scale(0.4)
    }
    75% {
        transform: scale(1.2)
    }
}